
@{
    /**/

    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>AppDev3B</h1>
        <p class="lead">AI Project</p>
        </div>

       
<li>@Html.ActionLink("View Gallery", "Display", "Describe")</li>
<br />
<li>@Html.ActionLink("Upload", "Index", "Describe")</li>
